<table class="mumie-info-table">
  <tr>
    <td style="padding-right: 2em;">
      <b>
        {STUDENT_NAME}
      </b>
    </td>
    <td>
      {STUDENT_NAME_VALUE}
    </td>
  </tr>
  <tr>
    <td style="padding-right: 2em;">
      <b>
        {GENERAL_DEADLINE}
      </b>
    </td>
    <td>
      {GENERAL_DEADLINE_VALUE}
    </td>
  </tr>
  <tr>
    <td style="padding-right: 2em;">
      <b>
        {DEADLINE_EXTENSION}
      </b>
    </td>
    <td>
      {DEADLINE_EXTENSION_VALUE}
    </td>
  </tr>
  <tr>
    <td style="padding-right: 2em;">
      <b>
        {CURRENT_GRADE}
      </b>
    </td>
    <td>
      {CURRENT_GRADE_VALUE}
    </td>
  </tr>
</table>
<br>
<br>
{GRADE_OVERVIEW_DESC}