<tr class="{CSS_ROW} small">
	<td class="std">
		<input type="hidden" name="visible_member_ids[]" value="{VAL_ID}" />		
	</td>
	<td class="std">
		{VAL_NAME}
	</td>
	
	<td class="std">
		{VAL_GRADE}
	</td> 
	<td class="std">
		<!-- BEGIN as_link -->
		<div class="il_ContainerItemCommands2">
		<!-- BEGIN link -->
			<a class="il_ContainerItemCommand2" href="{LINK_NAME}">{LINK_TXT}</a><br />
		<!-- END link -->
			<!-- BEGIN as_menu -->
			{ACTION_USER}
		<!-- END as_menu -->
		</div>
		<!-- END as_link -->
	</td>
</tr>
