<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<tr class="{CSS_ROW} small">
	<td class="std">
		{VAL_NAME}
	</td>
	<td class="il_ContainerItemCommands2">
		<a class="il_ContainerItemCommand2" href="{LINK_DEADLINE_EXTENSION}" {VAL_HIDDEN}> 
			<i class="fa fa-list fa-fw"></i></a>
	</td>
	<td class="std">
		{VAL_EXTENDED_DEADLINE}
	</td>
	<td class="std">
		{VAL_GRADE}
	</td>
	<td class="il_ContainerItemCommands2">
		<a class="il_ContainerItemCommand2" href="{LINK_GRADE_OVERVIEW}">
			<i class="fa fa-list fa-fw"></i></a>
	</td>
</tr>