<tr class="{CSS_ROW} small">
	
	<!-- BEGIN custom_fields -->
	<td class="std" >
		<input type="date" name="submissionDate" value="{VAL_DATE}" placeholder="dd-mm-yyyy" disabled="disabled"/>
	</td>
	<td class="std">
		<!-- BEGIN as_link -->
		<div class="il_ContainerItemCommands2">
		<!-- BEGIN link -->
			<a class="il_ContainerItemCommand2" href="{LINK_NAME}">{LINK_TXT}</a><br />
		<!-- END link -->
			<!-- BEGIN as_menu -->
			{ACTION_USER}
		<!-- END as_menu -->
		</div>
		<!-- END as_link -->
	</td>
	<td class="std">
		{VAL_GRADE}
	</td> 
</tr>