.mumie-collapsible:hover {
    background-color: #ccc;
}

.mumie-user-table {
    max-width: 80%;
    margin-left: 30px;
    margin-right: auto;
}

.mumie-deadline-text {
    background-color: rgb(118, 170, 219);
    color: white;
    padding: 0px 4px;
    text-align: center;
    border-radius: 5px;
  }
