.mumie-collapsible:hover {
    background-color: #ccc;
}

.mumie-user-table {
    max-width: 80%;
}

.mumie-deadline-badge {
    background-color: rgb(118, 170, 219);
    color: white;
    padding: 0 8px;
    text-align: center;
    border-radius: 5px;
}

.mumie-icon {
    margin-left: 0.5em;
}

.mumie-dropzone {
    width: 100%;
    height: 300px;
    background: blueviolet;
    margin: 10px;
    padding: 10px;
}

.red {
    background: red;
}