<form id='mumie_problem_selector_sso_form' name='mumie_problem_selector_sso_form' method='post' action='{SSO_URL}'>
    <input type='hidden' name='userId' id='userId' value='{USER_ID}' />
    <input type='hidden' name='token' id='token' value='{TOKEN}' />
    <input type='hidden' name='org' id='org' value='{ORG}' />
    <input type='hidden' name='serverUrl' id='serverUrl' value='{SERVER_URL}' />
    <input type='hidden' name='problemLang' id='problemLang' value='{PROBLEM_LANG}' />
    <input type='hidden' name='origin' id='origin' value='{ORIGIN}' />
    <!-- BEGIN multi_select -->
    <input type='hidden' name='multiSelect' id='multiSelect' value='true' />
    <!-- END multi_select -->
</form>
<script>document.forms['mumie_problem_selector_sso_form'].submit();</script>
