<div class="form-inline">
    <!-- BEGIN command_link -->
    <!-- BEGIN ID-->
    <a href="{COMMAND_LINK}" class="xmum-pseudo-btn" id="{ID}">
        <!-- BEGIN button_label -->
        {BUTTON_LABEL}
        <!-- END button_label -->
    </a>
    <!-- END ID-->
    <!-- END command_link -->
</div>

<style>
    .xmum-pseudo-btn {
        text-decoration: none;
        padding: 3px 6px;
        line-height: 1.5;
        border-radius: 0px;
        margin-bottom: 10px;
        color: white;
        background-color: #708bae;
        border-color: #708bae;
        display: inline-block;
        min-width: 60px;
        vertical-align: top;
        font-size: 12px;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
    }
</style>